<div class="container-template">
  <div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" class="login-form">
      <input type="text" [formControlName]="'username'" placeholder="Username">
      <input type="password" [formControlName]="'password'" placeholder="Password">
      <button type="submit" [disabled]="!loginForm.valid" (click)="login()">Login</button>
      <label style="text-decoration-line: underline; margin: 10px" (click)="redirect()">Continue as guest</label>
    </form>
  </div>
</div>
